Repository ealebed/token-injector: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt-token-injector, go-fmt-token-injector-webhook, go-vet-token-injector, go-vet-token-injector-webhook, go-mod-tidy-token-injector, go-mod-tidy-token-injector-webhook, go-unit-tests-token-injector, go-unit-tests-token-injector-webhook, golangci-lint-token-injector, golangci-lint-token-injector-webhook

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow multiple documents (Kubernetes manifests)
        exclude: |
          (?x)^(
            helm-chart/templates/.*|
            terraform/.*\.tf$
          )
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: go-fmt-token-injector
        name: go fmt (token-injector)
        entry: bash -c 'cd cmd/token-injector && go fmt ./...'
        language: system
        files: ^cmd/token-injector/.*\.go$
        pass_filenames: false
      - id: go-fmt-token-injector-webhook
        name: go fmt (token-injector-webhook)
        entry: bash -c 'cd cmd/token-injector-webhook && go fmt ./...'
        language: system
        files: ^cmd/token-injector-webhook/.*\.go$
        pass_filenames: false
      - id: go-vet-token-injector
        name: go vet (token-injector)
        entry: bash -c 'cd cmd/token-injector && go vet ./...'
        language: system
        files: ^cmd/token-injector/.*\.go$
        pass_filenames: false
      - id: go-vet-token-injector-webhook
        name: go vet (token-injector-webhook)
        entry: bash -c 'cd cmd/token-injector-webhook && go vet ./...'
        language: system
        files: ^cmd/token-injector-webhook/.*\.go$
        pass_filenames: false
      - id: go-mod-tidy-token-injector
        name: go mod tidy (token-injector)
        entry: bash -c 'cd cmd/token-injector && go mod tidy'
        language: system
        files: ^cmd/token-injector/go\.(mod|sum)$
        pass_filenames: false
      - id: go-mod-tidy-token-injector-webhook
        name: go mod tidy (token-injector-webhook)
        entry: bash -c 'cd cmd/token-injector-webhook && go mod tidy'
        language: system
        files: ^cmd/token-injector-webhook/go\.(mod|sum)$
        pass_filenames: false
      - id: go-unit-tests-token-injector
        name: go unit tests (token-injector)
        entry: bash -c 'cd cmd/token-injector && go test ./... -race'
        language: system
        files: ^cmd/token-injector/.*\.go$
        pass_filenames: false
      - id: go-unit-tests-token-injector-webhook
        name: go unit tests (token-injector-webhook)
        entry: bash -c 'cd cmd/token-injector-webhook && go test ./... -race'
        language: system
        files: ^cmd/token-injector-webhook/.*\.go$
        pass_filenames: false

  - repo: local
    hooks:
      - id: golangci-lint-token-injector
        name: golangci-lint (token-injector)
        entry: bash -c 'cd cmd/token-injector && golangci-lint run --timeout=4m --config=.golangci.yaml'
        language: system
        files: ^cmd/token-injector/.*\.go$
        pass_filenames: false
        always_run: false
      - id: golangci-lint-token-injector-webhook
        name: golangci-lint (token-injector-webhook)
        entry: bash -c 'cd cmd/token-injector-webhook && golangci-lint run --timeout=4m --config=.golangci.yaml'
        language: system
        files: ^cmd/token-injector-webhook/.*\.go$
        pass_filenames: false
        always_run: false

Refactor (#180)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/tpl_build_container_images.yml
  .github/workflows/tpl_validate_golang.yml
  .gitignore
  .pre-commit-config.yaml
  cmd/token-injector-webhook/.golangci.yaml
  cmd/token-injector-webhook/main.go
  cmd/token-injector/.golangci.yaml
  cmd/token-injector/go.mod
  docs/helm_configuration.md
  docs/terraform_configuration.md
  helm-chart/templates/cluster-role-binding.yaml
  manifests/webhook-clusterrolebinding.yaml
  manifests/webhook-service-account.yaml
  terraform/gke_sa.tf
Due: go-fmt-token-injector-webhook, go-vet-token-injector-webhook, go-mod-tidy-token-injector, go-unit-tests-token-injector-webhook, golangci-lint-token-injector-webhook

added tests
  .github/workflows/wfl_build_tools_images.yaml
  cmd/token-injector-webhook/main.go
  cmd/token-injector-webhook/main_test.go
  cmd/token-injector/internal/gcp/token.go
  cmd/token-injector/internal/gcp/token_test.go
Due: go-fmt-token-injector, go-fmt-token-injector-webhook, go-vet-token-injector, go-vet-token-injector-webhook, go-unit-tests-token-injector, go-unit-tests-token-injector-webhook, golangci-lint-token-injector, golangci-lint-token-injector-webhook

added tests (#185)
  .github/workflows/wfl_build_tools_images.yaml
  cmd/token-injector-webhook/main.go
  cmd/token-injector-webhook/main_test.go
  cmd/token-injector/internal/gcp/token.go
  cmd/token-injector/internal/gcp/token_test.go
Due: go-fmt-token-injector, go-fmt-token-injector-webhook, go-vet-token-injector, go-vet-token-injector-webhook, go-unit-tests-token-injector, go-unit-tests-token-injector-webhook, golangci-lint-token-injector, golangci-lint-token-injector-webhook

fix failed build
  cmd/token-injector/Dockerfile
Due: none

fix failed build (#186)
  cmd/token-injector/Dockerfile
Due: none

fix image build
  cmd/token-injector-webhook/main.go
  cmd/token-injector-webhook/main_test.go
Due: go-fmt-token-injector-webhook, go-vet-token-injector-webhook, go-unit-tests-token-injector-webhook, golangci-lint-token-injector-webhook

fix image build (#204)
  cmd/token-injector-webhook/main.go
  cmd/token-injector-webhook/main_test.go
Due: go-fmt-token-injector-webhook, go-vet-token-injector-webhook, go-unit-tests-token-injector-webhook, golangci-lint-token-injector-webhook

fix dependabot config
  .github/dependabot.yml
Due: none

remove unused package
  cmd/token-injector-webhook/go.mod
Due: go-mod-tidy-token-injector-webhook

fix dependabot config (#205)
  .github/dependabot.yml
Due: none

remove unused package (#206)
  cmd/token-injector-webhook/go.mod
Due: go-mod-tidy-token-injector-webhook

Fix and align linter config
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector-webhook/Dockerfile
  cmd/token-injector-webhook/main.go
  cmd/token-injector/Dockerfile
Due: go-fmt-token-injector-webhook, go-vet-token-injector-webhook, go-unit-tests-token-injector-webhook, golangci-lint-token-injector-webhook

Fix and align linter config (#213)
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector-webhook/Dockerfile
  cmd/token-injector-webhook/main.go
  cmd/token-injector/Dockerfile
Due: go-fmt-token-injector-webhook, go-vet-token-injector-webhook, go-unit-tests-token-injector-webhook, golangci-lint-token-injector-webhook

upgrade Go version
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector-webhook/go.mod
  cmd/token-injector/go.mod
Due: go-mod-tidy-token-injector, go-mod-tidy-token-injector-webhook

upgrade lint version
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector-webhook/Dockerfile
  cmd/token-injector/Dockerfile
Due: none

upgrade Go version (#214)
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector-webhook/Dockerfile
  cmd/token-injector-webhook/go.mod
  cmd/token-injector/Dockerfile
  cmd/token-injector/go.mod
Due: go-mod-tidy-token-injector, go-mod-tidy-token-injector-webhook

update golangci-lint version
  .github/workflows/tpl_validate_golang.yml
Due: none

update golangci-lint version (#224)
  .github/workflows/tpl_validate_golang.yml
Due: none

bump lint version
  .github/workflows/tpl_validate_golang.yml
Due: none

fix path to go.mod
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector/go.mod
Due: go-mod-tidy-token-injector

bump lint version (#242)
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector/go.mod
Due: go-mod-tidy-token-injector

Bump Golang ecosystem to 1.27 version; small refactoring:
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector-webhook/Dockerfile
  cmd/token-injector-webhook/go.mod
  cmd/token-injector-webhook/main.go
  cmd/token-injector/Dockerfile
  cmd/token-injector/go.mod
  cmd/token-injector/internal/gcp/sainfo.go
  cmd/token-injector/internal/gcp/token.go
Due: go-fmt-token-injector, go-fmt-token-injector-webhook, go-vet-token-injector, go-vet-token-injector-webhook, go-mod-tidy-token-injector, go-mod-tidy-token-injector-webhook, go-unit-tests-token-injector, go-unit-tests-token-injector-webhook, golangci-lint-token-injector, golangci-lint-token-injector-webhook

fix golangci version
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector-webhook/Dockerfile
  cmd/token-injector/Dockerfile
Due: none

Bump Golang ecosystem to 1.27 version; small refactoring (#286)
  .github/workflows/tpl_validate_golang.yml
  cmd/token-injector-webhook/Dockerfile
  cmd/token-injector-webhook/go.mod
  cmd/token-injector-webhook/main.go
  cmd/token-injector/Dockerfile
  cmd/token-injector/go.mod
  cmd/token-injector/internal/gcp/sainfo.go
  cmd/token-injector/internal/gcp/token.go
Due: go-fmt-token-injector, go-fmt-token-injector-webhook, go-vet-token-injector, go-vet-token-injector-webhook, go-mod-tidy-token-injector, go-mod-tidy-token-injector-webhook, go-unit-tests-token-injector, go-unit-tests-token-injector-webhook, golangci-lint-token-injector, golangci-lint-token-injector-webhook

Enable auto merge Dependabot's minor and patch updates
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  README.md
  docs/decisions/001-dependabot-auto-merge.md
  docs/dependabot-automation.md
Due: none

Enable auto merge Dependabot's minor and patch updates (#296)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  README.md
  docs/decisions/001-dependabot-auto-merge.md
  docs/dependabot-automation.md
Due: none
